.nav {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in;
}

.a {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: rgb(0, 255, 149);
}

.a:hover,
.a:active {
  color: rgb(255, 255, 0);
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list .svg {
  width: 5%;
  cursor: pointer;
}

.nav-list a,
.nav-list .svg {
  color: rgb(0, 255, 149);
}

.nav-list a:active,
.nav-list .svg:hover,
.nav-list a:hover,
.nav-list .svg:active {
  color: rgb(255, 255, 0);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 1rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 0;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hamburger > span {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  .clicked .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }

  .clicked .line-2 {
    opacity: 0;
  }

  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }

  .nav {
    width: 100%;
    margin-top: 29rem;
    display: none;
  }

  .clicked.nav {
    background-color: rgba(96, 40, 237, 0.8);
    display: block;
  }

  .nav-list {
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list li {
    margin-bottom: 4vh;
    margin-left: 6vw;
  }
}
