.li {
  width: 100%;
  background-color: white;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.li > div {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.li img {
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 1.5rem;
}

.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.li button {
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 5rem;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  box-shadow: 0 0 1.25rem 1px rgba(0, 0, 0, 0.04);
}

.div > p:first-of-type,
.div > p:nth-last-of-type(2) {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.div > p:last-of-type {
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .li {
    width: 60%;
    margin: 0 auto;
  }
  .li img {
    width: 95%;
  }
}
