.main {
  padding-top: 1rem;
  background-color: #ffffff;
  width: 35rem;
  height: 45rem;
  margin: 2rem auto;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.688rem 2.188rem 0.125rem rgba(0, 0, 0, 0.14);
  text-align: center;
}

.signu {
  padding-top: 2.5rem;
  color: #8c55aa;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.signb {
  margin-top: 1rem;
  text-shadow: 0rem 0rem 0.188rem rgba(117, 117, 117, 0.12);
  color: #bf8fc7;
  font-family: "Ubuntu", sans-serif;
  padding-top: 0.938rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0rem;
  }
}
